.description {
    min-height: 40px;
}

.form-wrapper {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

#register-link {
    padding-top: 0.5em;
}

.played-time {
    padding-left: 0;
}

.item-buttons {
    margin-bottom: 0.5em;
}

.podcast-item-image {
    border: 1px solid black;
}

.podcast-image {
    border: 3px solid black;
    border-radius: 2px;
}

#audioplayer {
    /* height: 60px; */
    margin: 0 auto auto auto;
    padding: 5px;
}

#timeline {
    height: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, .3);
    margin-top: 12px;
    padding-left: 0;
}

#playhead {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

#playhead:hover {
    background: rgba(0, 0, 0, 0.6);
}